.footer {
    position:absolute;
    left: 0;
    right: 0;
    top: calc(75vh + 2rem + 10vh + 600px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.056);
    color: white;
    line-height:10rem;
}
@media (max-width: 1200px) {
    .footer {
        top: calc(75vh + 2rem + 10vh + 1000px);
    }
}

@media (max-width: 800px) {
    .footer {
        top: calc(75vh + 2rem + 10vh + 1700px);
    }
}

@media (max-width: 600px) {
    .footer {
        top: calc(75vh + 2rem + 10vh + 1500px);
    }
}

@media (max-width: 400px) {
    .footer {
        top: calc(75vh + 2rem + 10vh + 1300px);
    }
}
