body {
    font-family: Josefin Sans, Arial;
    font-weight: 500;
    background-color: hsl(0, 0%, 7%);
    font-size: 1em;
    overflow-x: hidden;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
@media (min-width: 2500px) {
    body {
        font-size: 2em;
    }
}

.ml-auto {
    position: relative;
    margin-right: 0;
}
.header-bar {
    display: block;
    background: linear-gradient(180deg, rgba(17, 17, 17, 0.564),#11111100);
    padding: 40px;
    width: 100vw;
    position: absolute;
    top:0;
    left:0;
    right:0;
    color: white;
    letter-spacing: 0.5px;
    z-index: 1000;
    padding-bottom: 50px;
    position:fixed;
}

.right-section {
    display: flex;
    background-color: rgba(255, 182, 193, 0);
    padding-left:30vw;
    position: relative;
    flex: 2;
    justify-content:right;
}
.right-section ul {
    z-index: 1;
}
.hamburger-menu {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin-right: 10px;
    opacity: 0;
}
.hamburger-icon {
    width: 6vw;
    margin: 3vh;
}
@media only screen and (max-width: 400px) {
    body {
        font-family: Josefin Sans, Arial;
        font-weight: 500;
        background-color: #111111;
        padding-bottom: 2000px;
        font-size: 1em;
    }
    
    .hamburger-menu {
        opacity: 1;
    }
}
@media only screen and (min-width: 3800px) {
    .header-bar {
        font-size: 40px;
        padding: 60px;
    }
}
@media (max-width: 1350px) {
    .right-section li {
        margin-left: 0px;
        margin-right: 3vw;
    }
}
@media (max-width: 1150px) {
    .right-section li {
        margin-left: 0px;
        margin-right: 2vw;
    }
}

@media (max-width: 940px) {
    .right-section ul {
        opacity: 0;
    }
    .left-section {
        padding-left: 30px;
    }
}

@media (max-width: 640px) {
    .right-section ul {
        opacity: 0;
    }
    .left-section {
        padding-left: 0px;
    }
}
.logo-container {
    padding-top: 3px;
}
.blob {
    mix-blend-mode: screen;
    object-fit:cover;
    width: 100vw;
    height: 80vh;
    min-width: 100%;
    position: relative;
    filter: blur(13vw);
}
.blob-overlay {
    position: absolute;
    width: 100vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.273);
    z-index: 1;
    filter: blur(100px)
}
.blob-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80vh;
    overflow:hidden;
}
.hero-text {
    position: absolute;
    z-index: 2;
    color: white;
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.intro {
    font-size: 3vw;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 2vw;
    font-weight: 400;
    text-align: center;
    line-height: 4vw;
}
.greeting {
    margin-bottom: 0px;
    font-size: 1.5vw;
    font-weight: 500;
    letter-spacing: 1px;
    width: 14em;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 1.5em;
    font-family: roboto mono, monospace;
}
@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
@media (max-width:900px) {
    .intro {
        font-size: 4vw;
        margin-left: 15vw;
        margin-right: 15vw;
        margin-top: 30px;
        font-weight: 400;
        line-height: 5vw;
    }
    .greeting {
        margin-bottom: 0px;
        font-size: 2.5vw;
        font-weight: 400;              
    }

    .greeting {
        margin-bottom: 0px;
        font-size: 1.5vw;
        font-weight: 500;
        letter-spacing: 1px;
        width: 15em;
        animation: typing 2s steps(22), blink .5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
        font-size: 15px;
        font-family: roboto mono, monospace;
    }
}
@media (max-width:420px) {
    .intro {
        font-size: 7vw;
        margin-left: 15vw;
        margin-right: 15vw;
        margin-top: 30px;
        font-weight: 400;
        line-height: 9vw;
    }
    .greeting {
        margin-bottom: 0px;
        font-size: 2.5vw;
        font-weight: 400;              
    }

    .greeting {
        margin-bottom: 0px;
        font-size: 1.5vw;
        font-weight: 500;
        letter-spacing: 1px;
        width: 15em;
        animation: typing 2s steps(22), blink .5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
        font-size: 15px;
        font-family: roboto mono, monospace;
    }
    .blob {
        filter:blur(20vw);
        transform: scale(150%);
        opacity: 0.9;
    }
}
