.container-unio {
    position: relative;
    width: 50%;
    display: flex;
}
.mockup-unio {
    z-index: 100;
    position: absolute;
    top: 20px;
}
.container-unio .left {
    position: relative;
    left: -180px;
    top: -200px;
    width: 134px;
    transform: rotate(23deg);
    transition: 0.5s cubic-bezier(.1,.53,.66,.96);

}
.container-unio:hover .left {
    left: 80px;
    top: -220px;
    width: 134px;
    transform: rotate(0deg);
    transition: 0.5s cubic-bezier(.1,.53,.66,.96);

}

.container-unio .right {
    position: relative;
    right: -360px;
    top: -200px;
    width: 134px;
    transform: rotate(-23deg);
    transition: 0.5s cubic-bezier(.1,.53,.66,.96);

}
.container-unio:hover .right {
    right: -120px;
    top: -220px;
    width: 134px;
    transform: rotate(0deg);
    transition: 0.5s cubic-bezier(.1,.53,.66,.96);

}
.container-unio {
    position: relative;
    width: 465px;
    display: flex;
}
.container-unio .card-unio {
    position: relative;
    background-color: #7365CB;
    overflow: hidden;
    height: 618px;
    border-radius: 24px;
}
.card-unio {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 3px;
    /*border-color: rgba(255, 255, 255, 0.332);*/
    
}
.logo-container-unio {
    position: absolute;
    bottom: 80px;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-unio {
    margin-right: 20px;
}
.images-unio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.background-text-unio {
    padding: 60px 0px 0px 0px;
    position: relative;
}

.background-text-unio .background-text-2 {
    position: absolute;
    top: 240px;
    left: -400px;
    transition: 0.3s cubic-bezier(.1,.53,.66,.96);

}
.background-text-unio .background-text-1 {
    position: relative;
    left: -30px;
    transition: 0.3s cubic-bezier(.1,.53,.66,.96);

}
.container-unio:hover .background-text-2 {
    left: -40px;
    top: 200px;
    transition: 0.3s cubic-bezier(.1,.53,.66,.96);
}
.container-unio .background-text-2 {
    left: -200px;
    top: 240px;
    transition: 0.3s cubic-bezier(.1,.53,.66,.96);

}
.container-unio:hover .background-text-1 {
    left: -220px;
    top: -30px;
    transition: 0.3s cubic-bezier(.1,.53,.66,.96);

}
.container-unio .background-text-1 {
    left: -30px;
    top: 10px;
    transition: 0.3s cubic-bezier(.1,.53,.66,.96);

}
.container-unio:hover .logo-container-unio {
    bottom: 165px;
    transition: 0.3s cubic-bezier(.1,.53,.66,.96);
}
.container-unio .logo-container-unio {
    transition: 0.3s cubic-bezier(.1,.53,.66,.96);
}
.container-unio .unio-view-study {
    opacity: 1;
    position: relative;
    bottom: -240px;
    width: 240px;
    height: 60px;
    left: 112.5px;
    right: 0px;
    font-weight: bold;
    font-size: 17px;
    background-color: white;
    color: black;
    border-color: white;
    border-style: solid;
    border-width: 5px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.15);
    transition: 0.3s cubic-bezier(.1,.53,.66,.96);
    cursor: pointer;
    font-family: josefin sans , arial;
    z-index: 100;
    margin-top: 15px;
}
.container-unio:hover .unio-view-study {
    bottom: -100px;
    transition: 0.3s cubic-bezier(.1,.53,.66,.96);
}
.unio-view-study:hover {
    color: white;
    background-color:#1C183E;
    border-color: #1C183E;
    transition:none;
    box-shadow: none;
    cursor:pointer;
}
.unio-view-study {
    transition: none;
}

.placeholder {
    opacity: 0;
}

.container-unio .laptop {
    position: relative;
    left: 18px;
    top: 90px;
    width: 450px;
    transition: 0.5s cubic-bezier(.1,.53,.66,.96);

}
.container-unio:hover .laptop {
    top: -280px;
    transition: 0.5s cubic-bezier(.1,.53,.66,.96);

}